<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Basic Alerts start -->
    <section id="user-profile">
      <div class="row">
        <div class="col-12">
          <div class="card profile-header mb-2">
            <!-- profile cover photo -->
            <img class="card-img-top" [src]="data.profileData.header.coverImg" alt="User Profile Image" />
            <!--/ profile cover photo -->

            <div class="position-relative">
              <!-- profile picture -->
              <div class="profile-img-container d-flex align-items-center">
                <div class="profile-img">
                  <img [src]="data.profileData.header.avatar" class="rounded img-fluid" alt="Card image" />
                </div>
                <!-- profile title -->
                <div class="profile-title ml-3">
                  <h2 class="text-white">{{ data.profileData.header.username }}</h2>
                  <p class="text-white">{{ data.profileData.header.designation }}</p>
                </div>
              </div>
            </div>

            <!-- tabs pill -->
            <div class="profile-header-nav">
              <!-- navbar -->
              <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                <!-- collapse  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                  <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">

                  </div>
                </div>
                <!--/ collapse  -->
              </nav>
              <!--/ navbar -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Alerts end -->
  </div>
</div>
